[Desktop Entry]
Version=1.0
Type=Application
Name=kitty
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
TryExec=/usr/bin/kitty
Exec=/usr/bin/kitty
Icon=/usr/share/kitty/share/icons/hicolor/scalable/apps/kitty.svg
Categories=System;TerminalEmulator;
